/* body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.box {
    display: flex;

}

.block {
    display: block;
}

#header {
    display: flex;
    align-items: center;
    padding: 6px;
}

.container1 {
    display: flex;
}

.flex_item1 {
    justify-content: flex-end;
}

#right_nav {
    display: inline-block;
    flex-grow: 1;
}

.float_right {
    float: right;
}

.flex_end {
    justify-content: flex-end;
}
a {
    color: #222;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}

a:hover {
    text-decoration: underline;
}



#apps_icon {
    height: 35px;
}

#avatar {
    height: 35px;
    border-radius: 50%;
} */

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-flow: row;
    height: 48px;
    align-items: center;
}


.nav {
    
    padding-left: 15px;
}

.push {
    margin-left:auto;
}

.img_wrap {
    
}

#apps_icon {
    max-height: 32px;
}

#avatar {
    border-radius: 50%;
    max-height: 32px;
    
}