body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.box {
    display: flex;
}

.block {
    display: block;
}

#header {
    display: flex;
    align-items: center;
    padding: 6px;
}

a {
    color: #222;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

a.left {
    display: inline-block;
    padding: 10px;
    
}